.select2-container{
  width:250px !important;
  margin-bottom:10px;
  line-height:1.5 !important;
}

.select2-dropdown{
  margin-left:8px;
}

[dropdown]{
  cursor:pointer;
  position:relative;
  text-decoration:none;
}

.btn-block{
  display:block;
  width:100%;
}

.export-btn{
  background: #d9534f;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.08) inset 0 -1px 0 0 #444B6E;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  outline: none;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  /* font-size: 0.8em; */
  position: relative;
  top: 2px;
  right: 0;
  font-family: inherit;
  cursor: pointer;
}
