.select2-container{
  width:250px !important;
  margin-bottom:10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  line-height:1.5 !important;
}

.btn-block{
  display:block;
  width:100%;
}
