.select2-container{
  width:250px !important;
  margin-bottom:10px;
  line-height:1.5 !important;
}

.select2-dropdown{
  margin-left:8px;
}

[dropdown]{
  cursor:pointer;
  position:relative;
  text-decoration:none;
}

.btn-block{
  display:block;
  width:100%;
}
