body{
  font-family: 'Source Sans Pro';
}

.dashboard{
  background:white;
  overflow-y:hidden;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.dashboard-header{
  background:white;
  border-bottom:2px solid rgba(55,53,112,0.1);
  color:white;
  height:60px;
  line-height:60px;
  position:absolute;
  left:300px;
  right:0;
  .settings-trigger{
    display:inline-block;
    line-height:1;
    margin-left:5px;
    margin-right:10px;
    top:0px;
    color:black;
    font-size: 1.2em;
  }
  .refresh:hover{
    color:#444B6E;
  }
  h2{
    color:#28343d;
    display:inline-block;
    margin:0 0 0 20px;
  }
  label[for=searchbar]{
    position:relative;
    .telescope{
      appearance:none;
      transition:all 200ms linear;
      border-radius:15px;
      border:2px solid rgba(101,131,153,0.5);
      box-shadow:none;
      color:#444B6E;
      display:inline-block;
      font-size:0.9em;
      height:30px;
      outline:none;
      padding:0 12px 0 34px;
      position:relative;
      top:-4px;
      left:20px;
      width:300px;
      font-family:inherit;
    }
    .fa{
      position:absolute;
      top:-1px;
      left:34px;
      z-index:11;
      color:#444B6E;
    }
  }

  .manage-feed{
    float:right;
    cursor:pointer;
    display:inline-block;
    margin-right:40px;
    color:#28343d;
    font-weight:bold;
  }
}

.dashboard-sidebar{
  background:#3D315B;
  overflow-y:auto;
  overflow-x:hidden;
  position:absolute;
  top:0px;
  bottom:0;
  left:0;
  width:300px;

  .sidebar-header{
    color:rgba(255,255,255,0.3);
    font-size:1em;
    font-weight:bold;
    height:42px;
    overflow:hidden;
    padding:15px 20px;
    position:relative;
    text-transform:uppercase;
    .sidebar-header-text{
      display:inline-block;
      margin:0;
      position:relative;
      top:10px;
    }
    .btn-add-feed{
      background:#708B75;
      border:none;
      border-radius:3px;
      box-shadow: 0 1px 0 0 rgba(0,0,0,0.08) inset 0 -1px 0 0 #708B75;
      color:white;
      font-weight:500;
      letter-spacing:1px;
      outline:none;
      padding:8px 10px;
      text-align:center;
      text-decoration:none;
      text-transform:uppercase;;
      float:right;
      font-size:0.7em;
      position:relative;
      top:8px;
      right:0;
      cursor:pointer;
    }

    .btn-add-feed:hover{
      background:#9AB87A;
    }
  }

  .dashboard-list{
    clear:both;
    list-style-type:none;
    margin:0;
    padding:0;

    .dashboard-list-item:first-child{
      border-top:1px solid rgba(255,255,255,0.50);
    }

    .dashboard-list-item{
      transition:all 200ms linear;
      border-bottom:1px solid rgba(255,255,255,0.50);
      cursor:pointer;
      font-family: 'Source Sans Pro';
      color:white;
      font-size:1em;
      height:47px;
      line-height:42px;
      padding:0 20px;

      img{
        position:relative;
        top:5px;
        margin-right:5px;
      }

      .tagged-count{
        background:rgba(255,255,255,0.1);
        border-radius:100px;
        color:white;
        display:inline-block;
        float:right;
        font-size:0.8em;
        font-weight:bold;
        line-height:1;
        padding:0.3rem 0.7rem;
        position:relative;
        top:12px;
      }
    }

    .dashboard-list-item:hover{
      background: rgba(255,255,255,0.03);
      color: rgba(255,255,255,0.85);
    }
  }
}

.dashboard-articles{
  position:absolute;
  top:62px;
  bottom:0;
  left:300px;
  background:#fafafa;
  overflow-y:auto;
  overflow-x:hidden;
  width:420px;
}

.dashboard-article-detail{
  background:white;
  color:#28343d;
  position:absolute;
  top:62px;
  left:720px;
  right:0;
  bottom:0;
  min-width:550px;

  .manage-article{
    width:100%;
    height:45px;
    background:#fafafa;
    border-bottom:1px solid rgba(55,53,112,0.1);
    box-shadow:0 1px 3px rgba(55,53,112,0.08);
    line-height:45px;
    position:absolute;
    z-index:99;

    button:not(.btn-flat){
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      background: #fff;
      background-clip: padding-box;
      border-radius: 3px;
      border: 1px solid rgba(55,53,112,0.1);
      box-shadow: 0 1px 1px rgba(0,0,0,0.08);
      display: inline-block;
      font-family:inherit;
      cursor:pointer;
      font-size: 0.7em;
      font-weight: bold;
      height: 28px;
      line-height: 0.7;
      margin-right: 10px;
      outline: none;
      padding: 0.58rem;
      position: relative;
      top: -1px;
    }

    .edit-article-tags{
      display:inline-block;
      position:relative;
      margin-left:20px;
      .tags-dropdown {
        transform:translate(-50%,0);
        background:#fff;
        background-clip:padding-box;
        border:1px solid rgba(55,53,112,0.1);
        border-radius:3px;
        box-shadow:0 1px 1px rgba(0,0,0,0.08);
        margin-top:2px;
        padding:15px;
        position:absolute;
        top:100%;
        left:50%;
        width:250px;
      }
      .tags-dropdown:before{
        transform:translateX(-50%) rotate(45deg);
        width:12px;
        height:12px;
        background:#fff;
        background-clip:padding-box;
        border-top:1px solid rgba(55,53,112,0.1);
        border-left:1px solid rgba(55,53,112,0.1);
        content: '';
        position:absolute;
        top:-6px;
        left:50%;
        z-index:99;
      }
    }
  }

  .article-read{
    top:45px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    word-wrap: break-word;
    overflow-x:hidden;
    overflow-y:auto;
    line-height: 1.5;
    padding:20px;

    .source-provider{
      img{
        float:left;
        margin-right:10px;
      }
      font-size:1em;
      color:#adadad;
      .pubDate{
        margin-left:50px;
      }
    }
  }

  img{
    border:0;
    vertical-align: middle;
    max-width:100%;
    display:block;
    height:auto;
  }
}

.articles{
  border-right:1px solid rgba(55,53,112,0.1);
  box-shadow:1px 0 3px rgba(55,53,112,0.08);
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
  .readed{
    opacity:0.6;
  }
  .article{
    background:white;
    background-clip:padding-box;
    border-bottom:1px solid rgba(55,53,112,0.1);
    cursor:pointer;
    display:block;
    margin:0;
    padding:20px;
    h3{
      color:#444B6E;
      font-size:1em;
      margin:0 0 10px 0;
    }
    .provider{
      font-size:0.75em;
      line-height:1.5;
      padding-bottom:5px;
      color:#ADADAD;
      img{
        margin-right:5px;
        position:relative;
        top:3px;
      }
    }
    .description{
      color:#28343d;
      font-size:0.8em;
      line-height:1.5;
    }
    .article-tags{
      list-style-type:none;
      margin:8px 0 3px 0;
      padding:0;
      li{
        transition:background 150ms linear;
        background:#708B75;
        border-radius:20px;
        color:white;
        cursor:pointer;
        display:inline-block;
        font-size:0.7em;
        font-weight:600;
        line-height:1;
        margin-right:3px;
        padding:3px 8px;
      }
      li:hover{
        background:#9AB87A;
      }
    }

    .published-date{
      margin-left:15px;
    }
  }
}

.add-feed-container{
  left:300px;
  position:absolute;
  padding:30px;
  top:0;
  left:300px;
  right:0;
  bottom:0;

  .list-feeds{
    list-style:none;
    padding-left:0;
    li:first-of-type{
      border-top:1px dotted black;
    }
    li{
      padding-top:15px;
      padding-bottom:15px;
      font-weight:bold;
      font-size:1.2em;
      border-bottom:1px dotted black;
      img{
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
      .delete-btn{
        background: #d9534f;
        border: none;
        border-radius: 3px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.08) inset 0 -1px 0 0 #444B6E;
        color: white;
        font-weight: 500;
        letter-spacing: 1px;
        outline: none;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        float: right;
        /* font-size: 0.8em; */
        position: relative;
        top: 2px;
        right: 0;
        font-family: inherit;
        cursor: pointer;
      }
    }
  }
}

.add-feed-input{
  .form-control{
    display: block;
    width:320px;
    font-family:inherit;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}

.add-button{
  background:#444B6E;
  border:none;
  border-radius:3px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.08) inset 0 -1px 0 0 #444B6E;
  color:white;
  font-weight:500;
  letter-spacing:1px;
  outline:none;
  padding:10px 12px;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;;
  float:left;
  font-size:0.8em;
  position:relative;
  top:8px;
  right:0;
  font-family:inherit;
  cursor:pointer;
}

.add-button:disabled{
  background:rgba(68,75,110,0.3);
}

.alert{
  p{
    color:red;
  }
}

.v-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight:bold;
  transform: translate(-50%,-50%);
  .v-pulse{
    background-color:#444B6E !important;
  }
}

#feedlist {
  position:relative;
  height:100%;
  overflow:hidden;
}
